body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#tabs button {
    background-color: #eeeeee;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
#tabs button:hover {
    background-color: #dddddd;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}
#textContent, #codes, #memos, #relationships {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    color: #000;
    margin-top: 10px;
}
#textContent {
    min-height: 300px;
    color: blue; /* Text quotes in blue */
}
.code {
    color: purple; /* Codes in purple */
    background-color: #f0eaff;
}
.memo {
    color: orange; /* Memos in orange */
    background-color: #fff3e0;
}
